::ng-deep .mat-dialog-container {
  padding: 0px !important;
}

.form-item {
  padding-right: 25px;
}
.action,
.content {
  margin-top: 25px;
  padding: 0 40px 10px 40px;
}
.pop-header {
  padding: 20px 40px;
}
