<div id="stock-evidence" class="row p-0 m-0">
  <aside class="pop-header ff-flex-between">
    <h4>
      Evidences
    </h4>
    <mat-icon class="pointer" (click)="close()" id="closeButton">close</mat-icon>
  </aside>


  <div id="img-dialog" class="col-12 claim-list">
    <div class="row mx-0 text-left align-mid" mat-dialog-content>

      <ng-container *ngFor="let evidence of data">
        <div class="col-12 px-0 claim-item line-margin" *ngFor="let item of evidence.node_responses">
          <h6 class="text-xs text-off-blue font-1-normal">Uploaded by</h6>
          <h5 class="text-sm text-blue font-1-medium line-margin">{{ item.added_by.name }}</h5>
          <h5 *ngIf="table" class="text-sm text-blue font-1-medium line-margin">{{ 'Documents' }}</h5>
          <table *ngIf="evidence.table" class="table table-bordered" aria-label="Claim evidence">
            <thead>
              <tr>
                <th class="text-xs text-blue font-1-normal" scope="col">Sl No.</th>
                <th class="text-xs text-blue font-1-normal" scope="col">File name</th>
                <th class="text-xs text-blue font-1-normal" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let field of item.responses; index as i">
                <tr *ngIf="field.field_response.type == 3">
                  <td class="text-xs text-blue font-1-normal">{{ i + 1 }}</td>
                  <td class="text-xs text-blue font-1-normal">{{ field.field_response.title }}</td>
                  <td class="text-right">
                    <button (click)="viewFile(field)" class="tab-btn text-xs text-red" id="viewFile">View file</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <div class="row m-0">
            <ng-container *ngFor="let field of item.responses; index as i">
              <div *ngIf="field.field_response.type != 3" class="col-4 px-0 card-item claim-field card-item-input">
                <h4 class="text-xs text-off-blue font-1-normal">{{ field.field_response.title }}</h4>
                <h6 class="text-sm text-blue font-1-normal m-0">{{ field.field_response.response }}</h6>
              </div>
            </ng-container>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>