<section class="utils ff-flex-between flex-column">
    <app-ff-custom-tab [tabGroupItems]="tabGroup" [activeTabId]="activeTab" (tabChanged)="changeTab($event)">
    </app-ff-custom-tab>

    <aside class="search-wrap ff-flex-align-center">
        <app-search-box [placeholder]="'searchText'|translate" [hideOptions]="false" [searchByOptions]="searchOptions"
            (searchText)="searchFilter($event)" class="search-item"></app-search-box>

        <app-buttons buttonType="secondary" buttonSize="medium" (buttonClicked)="filterClicked()">
            <ng-container *ngIf="toggleFilter">
                <mat-icon class="clear-icon">close</mat-icon>
                <span class="button-text">{{'clearFilterText'|translate}}</span>
            </ng-container>
            <ng-container *ngIf="!toggleFilter">
                <img src="../../../../assets/images/settings-slider-icon.svg" alt="icon">
                <span class="button-text">{{'filterText'|translate}}</span>
            </ng-container>
        </app-buttons>

        <app-buttons buttonType="fill" [isDisabled]="!fullDataLoaded" [matMenuTriggerFor]="moreButtonOptions">
            {{'connections.addConnection'|translate}}
            <svg width="8" height="6" class="m-l-10" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L4 4L7 1" stroke="white" stroke-width="2" stroke-linecap="round" />
            </svg>
        </app-buttons>
        <mat-menu class="mat-menu more-button-receive" #moreButtonOptions="matMenu" xPosition="before">
            <ul class="button-action">
                <li class="font-1-medium text-blue pointer" (click)="farmerConnection()" id="singleFarmer">
                    Add single farmer
                </li>
                <li class="font-1-medium text-blue pointer" (click)="bulkUpload()" id="bulkUpload">
                    Add multiple farmers <span class="new-chip">Excel</span>
                </li>
                <li class="font-1-medium text-blue pointer" (click)="addNewConnection()" id="addCompany">
                    Add connection as company
                </li>
            </ul>
        </mat-menu>

    </aside>
</section>


<section *ngIf="toggleFilter && !loader" class="active-filter ff-flex-start">
    <ng-container *ngIf="activeTab === 'company'">
        <app-ff-filter-box-wrapper label="{{'connections.filterRelationship'|translate}}"
            [filterMasterData]="filterValues?.relationship"
            [hideSearch]="filterValues?.relationship.length <= 4 ?true: false"
            [defaultValue]="appliedFilters.relationship" (selectionChange)="filterItems($event, 'relationship')">
        </app-ff-filter-box-wrapper>

        <app-ff-filter-box-wrapper label="{{'connections.typeText'|translate}}"
            [filterMasterData]="filterValues?.operationsList"
            [hideSearch]="filterValues?.operationsList.length <= 4 ?true: false"
            [defaultValue]="appliedFilters.primaryOperation"
            (selectionChange)="filterItems($event, 'primaryOperation')">
        </app-ff-filter-box-wrapper>

        <app-ff-filter-box-wrapper label="{{'companyProfile.claim.th3'|translate}}"
            [filterMasterData]="filterValues.status" [hideSearch]="true" [defaultValue]="appliedFilters.status"
            (selectionChange)="filterItems($event, 'status')">
        </app-ff-filter-box-wrapper>
    </ng-container>

    <ng-container *ngIf="activeTab === 'farmer'">
        <app-ff-filter-box-wrapper label="{{'connections.fType'|translate}}"
            [defaultValue]="appliedFilters.primaryOperation"
            [hideSearch]="filterValues?.operationsList.length <= 4 ?true: false"
            [filterMasterData]="filterValues?.operationsList"
            (selectionChange)="filterItems($event, 'primaryOperation')">
        </app-ff-filter-box-wrapper>
    </ng-container>
</section>

<section class="ff-table-container w-100" *ngIf="!loader">
    <table aria-describedby="Connection listing table">
        <thead>
            <tr>
                <th *ngFor="let item of displayedColumns" class="{{item?.class}}">
                    <article class="ff-flex-start pointer">
                        {{item.name}}
                    </article>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataSource" class="pointer">
                <td class="mat-cell large-column" (click)="viewDetails(item)">
                    {{item?.full_name}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    {{item.primary_operation.name}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    T{{item?.connection_details?.tier | toPositive}}-{{item?.connection_details.connection_type === 2 ?
                    'Supplier' : 'Buyer'}}
                </td>
                <td class="mat-cell normal-column" (click)="viewDetails(item)">
                    <span *ngIf="item?.connection_details?.status === 201">
                        {{'connections.sVerified'|translate}}
                    </span>
                    <span *ngIf="item?.connection_details?.status === 101 && item?.email_sent">
                        {{'connections.sInvited'|translate}}
                    </span>
                    <span *ngIf="item?.connection_details?.status === 101 && !item?.email_sent">
                        {{'connections.sMapped'|translate}}
                    </span>
                </td>
                <td class="mat-cell normal-column" *ngIf="item.type === 1">

                    <ng-container *ngIf="item.can_manage">
                        <app-buttons buttonType="secondary" *ngIf="item?.connection_details.tier < 0"
                            (buttonClicked)="addCompanyPopup(item)">
                            Add&nbsp;{{'connections.buyer'|translate}}
                        </app-buttons>
                        <app-buttons buttonType="secondary" *ngIf="item?.connection_details.tier > 0"
                            [matMenuTriggerFor]="moreSuppliers">
                            Add&nbsp;{{'connections.supplier'|translate}}
                            <svg width="8" height="6" class="m-l-10" viewBox="0 0 8 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L4 4L7 1" stroke="black" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </app-buttons>
                        <mat-menu class="mat-menu more-button-receive" #moreSuppliers="matMenu" xPosition="after">
                            <ul class="button-action">
                                <li class="font-1-medium text-blue pointer" (click)="farmerConnection(item)" id="addFarmerPopup">
                                    Add farmer
                                </li>
                                <li class="font-1-medium text-blue pointer" (click)="addCompanyPopup(item)" id="addCompanyPopup">
                                    Add company
                                </li>
                            </ul>
                        </mat-menu>
                    </ng-container>

                </td>
                <td class="mat-cell options-column">
                    <span [matMenuTriggerFor]="beforeMenu" class="pointer">
                        <mat-icon>more_vert</mat-icon>
                    </span>
                    <mat-menu class="mat-menu connection-option" #beforeMenu="matMenu" xPosition="before">
                        <span (click)="viewDetails(item)" class="text-xs text-blue" mat-menu-item>
                            {{'companyProfile.claim.viewButton'|translate}}
                        </span>
                        <span (click)="mapSuppliers(item)" class="text-xs text-blue" mat-menu-item>
                            {{'requests.type4'|translate}}
                        </span>
                        <span class="text-xs text-blue" mat-menu-item>
                            <span (click)="resentInvite(item.id)" *ngIf="item.email_sent">
                                {{'companyProfile.team.resendInvite'|translate}}
                            </span>
                            <span (click)="sentInvite(item.id)" *ngIf="!item.email_sent">
                                {{'connections.opSend'|translate}}
                            </span>
                        </span>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <section class="no-data w-100" *ngIf="!loader && dataSource.length === 0">
        No data found
    </section>
</section>

<app-ff-pagination [totalCount]="dataCount" [customPageSize]="appliedFilters"
    (paginationAction)="paginatorEvent($event)" [ngClass]="loader?'hide':'show'"></app-ff-pagination>


<app-loader [loaderText]="'Loading connection list'" [loaderType]="'type1'" *ngIf="loader"
    class="min-h-300"></app-loader>