<section class="progress-bar-loader w-100" *ngIf="progressBarData?.progress">
    <span class="value-tr">Fetching stock - {{progressBarData.value}}%</span>
    <mat-progress-bar mode="determinate" value="{{progressBarData.value}}"></mat-progress-bar>
</section>

<section class="info-wrap ff-flex-between" *ngIf="showInfo | async">
    <span class="left font-1-bold text-blue">
        {{selectedInformation?.noBatches === 1 ? 1+' item': selectedInformation?.noBatches +' items'}} selected
    </span>
    <aside aria-label="selected summary" class="right">
        <span class="summary font-1-medium">Summary:
            <b>{{selectedInformation?.noBatches}}</b>
            {{selectedInformation?.noBatches === 1 ?'Batch':'Batches'}}
            |
            <span><b>{{selectedInformation?.totalQuantity}}</b>kg</span>
        </span>
        <span class="view-selected pointer">
            <span class="value-tr">
                View selected batches only
            </span>
            <label class="switch">
                <input type="checkbox" id="connection-view-switch" name="view" (change)="viewSelected($event)"
                    [checked]="selectedBatchesOnly">
                <span class="slider round stock"></span>
            </label>
        </span>
    </aside>
</section>