.w-50-cc {
  width: 50%;
}
.w-33-cc {
  width: 33%;
}
.m-r-12 {
  margin-right: 12px;
}
.tabs {
  padding-left: 40px;
}
.content {
  padding: 0 40px 10px 40px;
}
.second-page {
  padding-top: 20px;
  h3 {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.input-container-with-error {
  margin-bottom: 20px;
}
