@import 'src/styles/responsive';

.utils {
  width: 100%;
  &.no-border {
    border: 0;
  }

  @include devices(tablet-md) {
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);
  }
}

.search-wrap {
  width: 100%;
  margin-top: 10px;

  @include devices(tablet-md) {
    width: 50%;
    margin-top: 0;
  }
  @include devices(laptop-xlg) {
    width: 40%;
  }

  .search-item {
    width: 100%;
    margin-right: 15px;
  }
}

.status-container {
  flex-wrap: wrap;
  padding: 10px;
  font-family: Moderat;
  @include devices(mobile) {
    flex-wrap: nowrap;
  }
  .label-text {
    font-family: var(--font-bold);
    font-size: 14px;
    color: var(--font-color);
    margin-bottom: 10px;
    @include devices(mobile) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .radio-c {
    .mat-radio-button {
      padding: 0 10px;
    }

    ::ng-deep label {
      margin-bottom: 0;
      font-size: 14px;
      font-family: var(--font-regular);
    }
  }
}

.mt-10 {
  margin-top: 10px;
}

.button-text {
  display: none;
  @include devices(laptop) {
    display: block;
    margin-left: 10px;
  }
}

td.mat-mdc-cell {
  border-bottom-color: var(--color-filter-active) !important;
}

.filter-wrap {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  flex-wrap: wrap;
  padding: 15px 0;
}


.width-product {
  max-width: 250px;
}
.ellipsis-text {
  display: block;
}
.hash-text {
  width: 220px;
  text-decoration: underline;
}
::ng-deep .ff-dropdown-container {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 1 rem;
}
