@import './responsive';

@mixin set-width($width) {
  min-width: $width;
  width: $width;
  max-width: $width;
}

@mixin table-props() {
  %column-width-common {
    @include set-width(150px);
  }
  %checkbox-column {
    @include set-width(40px);
    padding-left: 15px !important;
    text-align: center;
  }
  %column-classes {
    &.selection-column {
      @extend %checkbox-column;
    }
    &.normal-column {
      @extend %column-width-common;
    }
    &.large-column {
      @include set-width(250px);
    }
    &.options-column {
      @include set-width(30px);
    }
    &.smaller-column {
      @include set-width(80px);
    }
    &.stock-id-column {
      @include set-width(90px);
    }
    &.transaction-type-column {
      @include set-width(180px);
    }
    &.claim-normal {
      @include set-width(20vw);
      @include devices(tablet-md) {
        min-width: 10vw;
        max-width: 12vw;
        width: 12vw;
      }
    }
    &.claim-large {
      @include set-width(30vw);
      @include devices(tablet-md) {
        @include set-width(20vw);
      }
      @include devices(laptop) {
        @include set-width(24vw);
      }
    }
  }
  thead {
    display: table-header-group !important;
    background-color: var(--color-primary-2);
    border-radius: 6px;
    th {
      padding: 22px 0px 22px 20px !important;
      white-space: nowrap;
      border-left: 1px solid var(--color-white);
      @extend %column-classes;
      font-family: var(--font-bold);
      font-size: 14px;
      text-align: left;
      color: var(--font-color);
      @include devices(desktop) {
        font-size: 16px;
      }
      &:first-child {
        border-radius: 6px 0 0 0;
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
        border-radius: 0 6px 0 0;
      }
    }
  }
  tbody {
    td {
      padding: 10px 0px 10px 20px;
      @extend %column-classes;
      font-family: var(--font-regular);
      font-size: 14px;
      color: var(--font-color);
      vertical-align: middle !important;
      &.selection-column {
        padding-top: 0 !important;
      }

      @include devices(desktop) {
        font-size: 16px;
      }
    }
    tr {
      border-bottom: 1px solid #e2f5ff;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: var(--color-table-row-active);
      }
      &.selected {
        background-color: var(--color-table-row-active);
      }
    }
  }

  mat-checkbox {
    position: relative;
    top: 4px;
  }

  .mat-checkbox-frame {
    border-radius: 3px;
    border: 1px solid var(--font-color);
    border-width: 1px;
  }
  .mat-checkbox-background {
    border-radius: 3px;
  }
}
