.supply-chain-table-tab {
  .mb-10 {
    margin-bottom: 10px;
  }
  .header {
    width: 100%;
    h3 {
      color: var(--font-color);
      font-family: var(--font-bold);
      font-size: 18px;
      padding-left: 20px;
    }
  }
}
