.pop-header {
  padding: 20px;
  h4 {
    font-family: var(--font-bold);
    color: var(--font-color);
    font-size: 18px;
  }
}

.pop-content {
  padding: 20px;
  p {
    color: var(--font-color);
    font-size: 16px;
  }
}
