@import 'src/styles/utils';
@import 'src/styles/responsive';

@include key-value-pair;

.item {
  min-width: 300px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  padding: 0 10px;
  padding-top: 15px;
  margin: 0;
}
.source-content {
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding-bottom: 25px;
  @include devices(desktop) {
    max-width: 70%;
  }

  &.no-broder {
    border-bottom: 0;
  }
  .content-area {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
}

.ff-table-container {
  min-height: auto;
}
