<section class="wrapper d-flex" *ngIf="!loader">
    <section class="col px-0 left" [formGroup]="convertForm">
        <aside formArrayName="items" aria-label="form items">
            <ng-container *ngFor="let item of stockItems.controls; let i = index;">
                <section [formGroupName]="i">
                    <!-- product selection autocomplete  -->
                    <article class="mb-20">
                        <label class="has-float-label custom-input"
                            [ngClass]="{'has-error': stockItems.at(i).get('productName').invalid && stockItems.at(i).get('productName').touched }">
                            <input placeholder=" " formControlName="productName" type="text" class="stock"
                                [matAutocomplete]="productSection" />
                            <span class="label">Destination product*</span>
                            <span class="new-chip" *ngIf="item.value.newProductMessage">New</span>
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </label>
                        <mat-autocomplete #productSection="matAutocomplete">
                            <aside class="inside-container" aria-label="">
                                <span class="autocomplete-heading" *ngIf="!item.value.newProductMessage">
                                    Available products
                                </span>
                                <mat-option *ngIf="productLoader">
                                    <app-loader [noText]="true"></app-loader>
                                </mat-option>
                                <ng-container *ngFor="let item of convertFilterProducts[i] | async">
                                    <ng-container *ngIf="!productLoader">
                                        <mat-option [value]="item.name" (click)="selectDestinationProduct(item, i)">
                                            {{ item.name }}
                                        </mat-option>
                                    </ng-container>
                                </ng-container>
                                <!-- if user starts typing or product input has a value show this option  -->
                                <ng-container *ngIf="item.value.newProductMessage">
                                    <span class="autocomplete-heading">
                                        Add as new product <span class="new-chip">New</span>
                                    </span>
                                    <mat-option [value]="item.value.productName"
                                        (click)="selectDestinationProduct(null, i)">
                                        {{item.value.productName}}
                                    </mat-option>
                                </ng-container>
                            </aside>
                        </mat-autocomplete>
                        <ng-container [ngTemplateOutlet]="formErrorMessages"
                            [ngTemplateOutletContext]="{formcontrol:'productName', formgroup: stockItems.at(i).controls}">
                        </ng-container>
                    </article>
                    <div class="quantity-row ff-flex-align-center">
                        <article class="stock-convert-item mr-10 mb-20">
                            <app-ff-input label="Quantity*" inputSize="profile" [parentFormGroup]="stockItems.at(i)"
                                controlName="quantity">
                            </app-ff-input>
                            <ng-container [ngTemplateOutlet]="formErrorMessages"
                                [ngTemplateOutletContext]="{formgroup: stockItems.at(i).controls, formcontrol:'quantity'}">
                            </ng-container>
                        </article>
                        <article class="stock-convert-item mb-20">
                            <app-ff-dropdown label="Unit" [defaultValue]="stockItems.at(i).get('unit').value"
                                [dropdownOptions]="units" inputClass="profile" [hideSearch]="true">
                            </app-ff-dropdown>
                        </article>
                        <article class="stock-convert-item ff-flex-end mb-20">
                            <app-buttons buttonType="stroked"
                                *ngIf="(stockItems.controls?.length - 1) === i"
                                [isDisabled]="!stockItems.controls[stockItems.controls.length -1].valid"
                                (buttonClicked)="addMore()">
                                Add
                            </app-buttons>
                            <app-buttons buttonType="stroked" buttonSize="medium"
                                *ngIf="stockItems.controls?.length > 1"
                                (buttonClicked)="removeField(i)">
                                <svg width="20" height="20" viewBox="0 0 9 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.8737 8.42057V5.03109C3.8737 4.90267 3.82268 4.7795 3.73188 4.6887C3.64107 4.59789 3.51791 4.54688 3.38949 4.54688C3.26106 4.54688 3.1379 4.59789 3.0471 4.6887C2.95629 4.7795 2.90527 4.90267 2.90527 5.03109V8.42057C2.90527 8.54899 2.95629 8.67216 3.0471 8.76296C3.1379 8.85377 3.26106 8.90479 3.38949 8.90479C3.51791 8.90479 3.64107 8.85377 3.73188 8.76296C3.82268 8.67216 3.8737 8.54899 3.8737 8.42057Z"
                                        fill="#EA2553" />
                                    <path
                                        d="M7.74756 3.57837C7.61914 3.57837 7.49598 3.62938 7.40517 3.72019C7.31436 3.811 7.26335 3.93416 7.26335 4.06258V9.4814C7.24946 9.72626 7.13938 9.95571 6.95708 10.1198C6.77479 10.2838 6.53505 10.3692 6.29008 10.3573H2.42607C2.1811 10.3692 1.94136 10.2838 1.75907 10.1198C1.57677 9.95571 1.46669 9.72626 1.4528 9.4814V4.06258C1.4528 3.93416 1.40178 3.811 1.31098 3.72019C1.22017 3.62938 1.09701 3.57837 0.968587 3.57837C0.840166 3.57837 0.717005 3.62938 0.626198 3.72019C0.53539 3.811 0.484375 3.93416 0.484375 4.06258V9.4814C0.498196 9.98316 0.7103 10.459 1.07423 10.8047C1.43817 11.1504 1.92426 11.3377 2.42607 11.3258H6.29008C6.79188 11.3377 7.27798 11.1504 7.64192 10.8047C8.00585 10.459 8.21795 9.98316 8.23177 9.4814V4.06258C8.23177 3.93416 8.18076 3.811 8.08995 3.72019C7.99914 3.62938 7.87598 3.57837 7.74756 3.57837Z"
                                        fill="#EA2553" />
                                    <path
                                        d="M8.23161 2.12598H6.29476V1.15755C6.29476 1.02913 6.24374 0.90597 6.15294 0.815162C6.06213 0.724355 5.93897 0.67334 5.81055 0.67334H2.90527C2.77685 0.67334 2.65369 0.724355 2.56288 0.815162C2.47208 0.90597 2.42106 1.02913 2.42106 1.15755V2.12598H0.484212C0.355791 2.12598 0.23263 2.17699 0.141822 2.2678C0.0510151 2.35861 0 2.48177 0 2.61019C0 2.73861 0.0510151 2.86177 0.141822 2.95258C0.23263 3.04339 0.355791 3.0944 0.484212 3.0944H8.23161C8.36003 3.0944 8.48319 3.04339 8.574 2.95258C8.66481 2.86177 8.71582 2.73861 8.71582 2.61019C8.71582 2.48177 8.66481 2.35861 8.574 2.2678C8.48319 2.17699 8.36003 2.12598 8.23161 2.12598ZM3.38949 2.12598V1.64176H5.32633V2.12598H3.38949Z"
                                        fill="#EA2553" />
                                    <path
                                        d="M5.81022 8.42057V5.03109C5.81022 4.90267 5.75921 4.7795 5.6684 4.6887C5.57759 4.59789 5.45443 4.54688 5.32601 4.54688C5.19759 4.54688 5.07443 4.59789 4.98362 4.6887C4.89281 4.7795 4.8418 4.90267 4.8418 5.03109V8.42057C4.8418 8.54899 4.89281 8.67216 4.98362 8.76296C5.07443 8.85377 5.19759 8.90479 5.32601 8.90479C5.45443 8.90479 5.57759 8.85377 5.6684 8.76296C5.75921 8.67216 5.81022 8.54899 5.81022 8.42057Z"
                                        fill="#EA2553" />
                                </svg>
                            </app-buttons>
                        </article>
                    </div>
                </section>
            </ng-container>
        </aside>
        <article class="section-divider">
            <hr>
        </article>
        <article class="w-50-ff">
            <article class="mb-20">
                <label class="has-float-label custom-input">
                    <input placeholder=" " matInput [matDatepicker]="trDate" [max]="maxDate"
                        formControlName="transactionDate" type="text" class="date-picker" readonly />
                    <span class="label">Transaction date*</span>
                    <mat-icon class="pointer" (click)="trDate.open()">calendar_today</mat-icon>
                </label>
                <mat-datepicker #trDate></mat-datepicker>
                <ng-container [ngTemplateOutlet]="formErrorMessages"
                    [ngTemplateOutletContext]="{formcontrol:'transactionDate', formgroup: convertFormControls}">
                </ng-container>
            </article>
        </article>
    </section>
    <app-summary-card class="right"></app-summary-card>
</section>
<section class="loader-wrap ff-flex-center left" *ngIf="loader">
    <app-loader [loaderText]="'Loading data'" [loaderType]="'type1'"></app-loader>
</section>
<app-stock-action-button [buttonNextState]="nextButtonState" (buttonsClicked)="navigationOutOfComponent($event)">
</app-stock-action-button>


<ng-template let-formcontrol="formcontrol" let-formgroup="formgroup" #formErrorMessages>
    <span class="error-message"
        *ngIf="formgroup[formcontrol]?.errors?.required && (formgroup[formcontrol]?.touched || submitted)">
        {{'commonValidationError'|translate}}
    </span>

    <ng-container *ngIf="formcontrol === 'productName'">
        <article *ngIf="formgroup[formcontrol].invalid && (formgroup[formcontrol].touched || submitted)">
            <span *ngIf="formgroup[formcontrol]?.errors.maxlength" class="error-message">
                {{'productMaxLength'|translate}}
            </span>
            <span *ngIf="formgroup[formcontrol].errors.minlength" class="error-message">
                {{'productMinLength'|translate}}
            </span>
        </article>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'quantity'">
        <span
            *ngIf="formgroup[formcontrol].invalid && formgroup[formcontrol].value && (formgroup[formcontrol].touched || submitted)"
            class="error-message">
            {{ 'trRequest.invalidQty'|translate }}
        </span>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'transactionDate'">
        <span class="error-message"
            *ngIf="convertFormControls.transactionDate.invalid && (convertFormControls.transactionDate.touched || submitted)">
            {{ 'stock.invalidDate'|translate }}
        </span>
    </ng-container>
</ng-template>