@import 'src/styles/responsive';
@import 'src/styles/utils';
.tab-container {
  border-bottom: 1px solid var(--border-color);
  @include devices(desktop) {
    max-width: 70%;
  }
}

.tab-content {
  padding: 24px 0;
  height: auto;
  transition: height 0.25s ease-in;
  @include devices(desktop) {
    max-width: 70%;
  }
}


@include donut-legend;