@import 'src/styles/responsive';
@import 'src/styles/flex';
.top-wrapper {
  flex-wrap: wrap;
  @include devices(tablet-md) {
    flex-wrap: nowrap;
  }
}
.search-wrap {
  width: 100%;
  @include devices(tablet-md) {
    width: 40%;
    margin-right: 10px;
  }
  @include devices(laptop-lg) {
    width: 50%;
  }
}

.filter-wrap {
  @extend %flex-common-center;
  @include justify-content(center);
  width: 100%;
  flex-wrap: wrap;

  @include devices(mobile) {
    @include justify-content(space-between);
  }
  @include devices(tablet-md) {
    margin-top: 0;
    width: 60%;
    flex-wrap: wrap;
  }
  @include devices(laptop-lg) {
    width: 50%;
    @include justify-content(flex-end);
  }
}
