<section class="wrapper d-flex" *ngIf="!loader">
    <section class="col px-0 left" [formGroup]="mergeForm">
        <!-- product selection autocomplete  -->
        <article class="mb-20 flex-column">
            <label class="has-float-label custom-input"
                [ngClass]="{'has-error': ccontrol.productName.invalid && ccontrol.productName.touched }">
                <input placeholder=" " formControlName="productName" type="text" class="stock"
                    [matAutocomplete]="productSection" />
                <span class="label">Merged product*</span>
                <span class="new-chip" *ngIf="newProduct">New</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </label>
            <mat-autocomplete #productSection="matAutocomplete">
                <aside class="inside-container" aria-label="">
                    <span class="autocomplete-heading" *ngIf="!(ccontrol.productName.value && newProduct)">
                        Available products
                    </span>
                    <mat-option *ngIf="productLoader">
                        <app-loader [noText]="true"></app-loader>
                    </mat-option>
                    <ng-container *ngFor="let item of productFilterOptions | async">
                        <ng-container *ngIf="!productLoader">
                            <mat-option [value]="item.name" (click)="selectProduct(item)" id="productOption-{{item.name}}">
                                {{ item.name }}
                            </mat-option>
                        </ng-container>
                    </ng-container>
                    <!-- if user starts typing or product input has a value show this option  -->
                    <ng-container *ngIf="ccontrol.productName.value && newProduct">
                        <span class="autocomplete-heading">
                            Add as new product <span class="new-chip">New</span>
                        </span>
                        <mat-option [value]="ccontrol.productName.value" (click)="selectProduct(null)" id="addNewProduct">
                            {{ccontrol.productName.value}}
                        </mat-option>
                    </ng-container>
                </aside>
            </mat-autocomplete>
            <ng-container [ngTemplateOutlet]="formErrorMessages"
                [ngTemplateOutletContext]="{formcontrol:'productName'}">
            </ng-container>
        </article>
        <div class="quantity-row flex-wrap">
            <article class="stock-merge-item mb-20 mr-10">
                <app-ff-input label="Quantity*" inputSize="profile" [parentFormGroup]="mergeForm" controlName="quantity">
                </app-ff-input>
                <ng-container [ngTemplateOutlet]="formErrorMessages"
                    [ngTemplateOutletContext]="{formcontrol:'quantity'}">
                </ng-container>
            </article>
            <article class="stock-merge-item mb-20 mr-10">
                <app-ff-dropdown label="Unit" [defaultValue]="ccontrol.unit.value" [dropdownOptions]="units"
                    inputClass="profile" [hideSearch]="true">
                </app-ff-dropdown>
            </article>
            <article class="stock-merge-item mb-20">
                <label class="has-float-label custom-input">
                    <input placeholder=" " matInput [matDatepicker]="transactionDate" [max]="maxDate"
                        formControlName="date" type="text" class="date-picker" readonly />
                    <span class="label">Transaction date*</span>
                    <mat-icon class="pointer" (click)="transactionDate.open()" id="calenderIcon">calendar_today</mat-icon>
                </label>
                <mat-datepicker #transactionDate></mat-datepicker>
                <ng-container [ngTemplateOutlet]="formErrorMessages" [ngTemplateOutletContext]="{formcontrol:'date'}">
                </ng-container>
            </article>
        </div>
    </section>
    <app-summary-card class="right"></app-summary-card>
</section>
<section class="loader-wrap left" *ngIf="loader">
    <app-loader [loaderText]="'Loading data'" [loaderType]="'type1'"></app-loader>
</section>

<app-stock-action-button [buttonNextState]="nextButtonState" (buttonsClicked)="navigationOutOfComponent($event)">
</app-stock-action-button>

<ng-template let-formcontrol="formcontrol" #formErrorMessages>
    <span class="error-message" *ngIf="ccontrol[formcontrol]?.errors?.required && (ccontrol[formcontrol]?.touched)">
        {{'commonValidationError'|translate}}
    </span>

    <ng-container *ngIf="formcontrol === 'productName'">
        <article *ngIf="ccontrol.productName.invalid && (ccontrol.productName.touched)">
            <span *ngIf="ccontrol.productName.errors.maxlength" class="error-message">
                {{'productMaxLength'|translate}}
            </span>
            <span *ngIf="ccontrol.productName.errors.minlength" class="error-message">
                {{'productMinLength'|translate}}
            </span>
        </article>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'quantity'">
        <span *ngIf="ccontrol.quantity.invalid && ccontrol.quantity.value && ccontrol.quantity.touched"
            class="error-message">
            {{ 'trRequest.invalidQty'|translate }}
        </span>
    </ng-container>

    <ng-container *ngIf="formcontrol === 'date'">
        <span class="error-message" *ngIf="ccontrol.date.invalid && (ccontrol.date.touched)">
            {{ 'stock.invalidDate'|translate }}
        </span>
    </ng-container>
</ng-template>