.prefix-img {
  margin-right: 20px;
  height: 30px;
}
.font-success {
  font-size: var(--font-size-paragraph1);
  color: var(--font-color);
}
.font-error {
  font-size: var(--font-size-paragraph1);
  color: var(--color-secondary);
}
